body {
    background-color: rgb(152, 152, 152);
    font-family: Arial, Helvetica, sans-serif; 
  
}

#content {
    display: flex;
    justify-content: center;
}


#overview {
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    height: max-content;
    width: 250px; 
    margin: auto;
    text-align: center;
}